<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oh crap, You found me!</title>
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}assets/css/tailwind.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Fira+Sans:400,700">
</head>
<body class="antialiased font-sans">
    <div class="container mx-auto flex flex-col pt-6 pb-5 justify-center text-center h-screen overflow-hidden">
        <div class="w-full h-auto mb-6">
            <h1 class="text-2xl">Oh crap, You found me!</h1>
            <h3 class="text-lg">Congratulations! But you got nothing, please come back to <a class="underline text-blue-600 hover:text-blue-800" href="{{ .Site.BaseURL }}">articles list</a>.
            </h3>
        </div>
        <div class="w-full flex justify-center align-middle">
            <div class="w-8/12">
                <object data="{{ .Site.BaseURL }}assets/svg/undraw_page_not_found.svg" class="w-full" type="image/svg+xml"></object>
            </div>
        </div>
    </div>
</body>
</html>