/* Additional vertical padding used by kbd tag. */

.markdown {
  overflow-wrap: break-word;
  line-height: 1.5;
  --tw-text-opacity: 1;
  color: rgb(15 23 42 / var(--tw-text-opacity))
}

@media (prefers-color-scheme: dark) {
  .markdown {
    --tw-text-opacity: 1;
    color: rgb(241 245 249 / var(--tw-text-opacity))
  }
}

.markdown > * + * {
  margin-top: 0px;
  margin-bottom: 1rem
}

.markdown li + li {
  margin-top: 0.25rem
}

.markdown li > p + p {
  margin-top: 1.5rem
}

.markdown strong {
  font-weight: 600
}

.markdown a {
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity))
}

.markdown strong a {
  font-weight: 700
}

.markdown h1 {
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  border-bottom-width: 1px;
  padding-bottom: 0.5rem;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 600;
  line-height: 1.25
}

.markdown h2 {
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  border-bottom-width: 1px;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  line-height: 1.25
}

.markdown h3 {
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  line-height: 1.375
}

.markdown h4 {
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  line-height: 1
}

.markdown h5 {
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  line-height: 1.25
}

.markdown h6 {
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  line-height: 1.25;
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity))
}

.markdown blockquote {
  border-left-width: 4px;
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity))
}

.markdown code {
  display: inline;
  border-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 0.875rem;
  line-height: 1.25rem
}

.markdown pre {
  border-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
  padding: 1rem
}

.markdown pre code {
  display: block;
  overflow: visible;
  border-radius: 0px;
  background-color: transparent;
  padding: 0px
}

.markdown ul {
  list-style-type: disc;
  padding-left: 2rem;
  font-size: 1rem;
  line-height: 1.5rem
}

.markdown ol {
  list-style-type: decimal;
  padding-left: 2rem;
  font-size: 1rem;
  line-height: 1.5rem
}

.markdown kbd {
  display: inline-block;
  border-radius: 0.25rem;
  border-width: 1px;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  vertical-align: middle;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 400;
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.markdown table {
  --tw-border-opacity: 1;
  border-color: rgb(75 85 99 / var(--tw-border-opacity));
  font-size: 1rem;
  line-height: 1.5rem
}

.markdown th {
  border-width: 1px;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

.markdown td {
  border-width: 1px;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

/* Override pygments style background color. */

.markdown .highlight pre {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity)) !important
}
