<head>
    <!-- Meta tag -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="{{ with .Description }}{{ . }}{{ else }}{{ with .Summary }}{{ . }}{{ else }}{{ .Site.Params.description }}{{end }}{{ end }} ">

    <link rel="canonical" href="{{ .Permalink }}" />

    <!-- Header -->
    {{ $title := print .Title " | " .Site.Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>{{ $title }}</title>

    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}assets/css/tailwind.css">
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}assets/css/markdown.css">
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}assets/css/syntax.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Fira+Sans:400,700">
</head>
