<header>
    {{ if .Params.cover }}
    <div class="post-cover overflow-hidden relative {{ if .Params.fullscreen }} fullscreen {{ else }} max-h-cover {{ end }}">
        <div class="max-w-xl md:max-w-3xl xl:max-w-4xl text-center px-6 absolute z-10 {{ if .Params.fullscreen }} flex flex-col items-center m-auto inset-0 {{ else }} mx-auto bottom-0 inset-x-0 pb-16 {{ end }}">
            <div class="m-auto">
                <h1 class="text-2xl sm:text-4xl font-sans font-bold leading-tight mb-2 text-slate-100 dark:text-slate-800">{{ .Title }}</h1>
                <p class="text-white dark:text-slate-800">
                    {{ partial "metadata.html" . }}
                </p>
            </div>
        </div>
    </div>
    {{ else }}
    <div class="mt-6 md:mt-14 lg:mt-20">
        <div class="max-w-xl md:max-w-3xl xl:max-w-4xl mx-auto text-center px-6">
            <h1 class="text-3xl sm:text-5xl leading-tight font-sans font-bold mb-2 text-slate-800 dark:text-slate-100">{{ .Title }}</h1>
            <p class="text-slate-700 dark:text-slate-200">
                {{ partial "metadata.html" . }}
            </p>
        </div>
    </div>
    {{ end }}
</header>
