<!DOCTYPE html>
<html lang="id">
    {{- partial "head.html" . -}}
    <body class="antialiased font-sans bg-white text-slate-900 dark:bg-slate-800 dark:text-white">
        <div class="relative min-h-screen">
            <div class="pb-10">
                {{- partial "header.html" . -}}
                {{- block "main" . }}{{- end }}
            </div>
            <div class="bottom-0 absolute w-full h-10 text-center">
                {{- partial "footer.html" . -}}
            </div>
        </div>
        <script>
            const svgDark = document.getElementById('btn_dark');
            const svgLight = document.getElementById('btn_light');
            const btnDarkMode = document.getElementById('dark_mode_toggle');

            // Initial load
            if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
                document.documentElement.classList.add('dark');
                svgDark.classList.add('hidden');
                svgLight.classList.remove('hidden');
                localStorage.theme = 'dark';
            } else {
                document.documentElement.classList.remove('dark');
                svgLight.classList.add('hidden');
                svgDark.classList.remove('hidden');
                localStorage.theme = 'light';
            }

            // onclick event
            btnDarkMode.onclick = function() {
                if (localStorage.theme === 'dark') {
                    document.documentElement.classList.remove('dark');
                    svgLight.classList.add('hidden');
                    svgDark.classList.remove('hidden');
                    localStorage.theme = 'light';
                } else {
                    document.documentElement.classList.add('dark');
                    svgDark.classList.add('hidden');
                    svgLight.classList.remove('hidden');
                    localStorage.theme = 'dark';
                }
            }
        </script>
        <script async src="https://umami.akhmad.id/script.js" data-website-id="5818ae25-1b72-473c-a58e-4f35e78ce30f"></script>
    </body>
</html>
