{{ define "main" }}
{{ $paginator := .Paginate (.Pages.ByPublishDate.Reverse) }}
<div class="mx-auto max-w-2xl px-4">
    {{ range $paginator.Pages }}
    <article class="mt-6">
        <div class="mx-auto max-w-2xl px-4">
            <div class="py-8 border-b border-gray-300 dark:border-slate-500">
                <header class="text-center mb-8">
                    {{ partial "metadata.html" . }}
                    <h2 class="text-2xl sm:text-3xl leading-tight font-sans mb-1 sm:mb-2 hover:text-slate-700 dark:hover:text-slate-300">
                        <a href="{{ .RelPermalink }}" class="text-slate-900 dark:text-slate-100 font-bold">
                            {{ .Title }}
                        </a>
                    </h2>
                </header>
                <p class="leading-normal text-gray-700 dark:text-slate-300 font-normal px-2 sm:px-4 md:px-10 text-justify">
                    {{ .Summary }}
                </p>
            </div>
        </div>
    </article>
    {{ end }}

    {{ if or ($paginator.HasPrev) ($paginator.HasNext) }}
    <nav class="mt-6">
        <span class="flex flex-row justify-between">
            <div>
                {{ if $paginator.HasPrev }}
                <a class="flex" href="{{ $paginator.Prev.URL | absURL }}">
                    <svg class="text-slate-800 dark:text-white hover:text-slate-700 dark:hover:text-slate-300 fill-current h-6 w-6"
                        id="btn_light" viewBox="0 0 24 24">
                        <path d="M0 0h24v24H0z" fill="none" />
                        <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z" />
                    </svg> Previous Page
                </a>
                {{- end }}
            </div>
            <div>
                {{- if $paginator.HasNext }}
                <a class="flex" href="{{ $paginator.Next.URL | absURL }}">
                    Next Page <svg class="text-slate-800 dark:text-white hover:text-slate-700 dark:hover:text-slate-300 fill-current h-6 w-6"
                        id="btn_light" viewBox="0 0 24 24">
                        <path d="M0 0h24v24H0z" fill="none" />
                        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
                    </svg>
                </a>
                {{- end }}
            </div>
        </span>
    </nav>
    {{ end }}
</div>
{{ end }}
